<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload/single-file/<%=id%>" method="post" enctype="multipart/form-data">
        <label for="fileType"> File Name </label>
        <input id="fileType" type="text" name="fileName" />
        <br /><br />
        <input id="imageUpload" type="file" name="imageUpload" />
        <input type="submit" value="Upload" />
      </form>
      
      
</body>
</html>