<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class= "flex-container">
        <div><img src="https://github.com/l-Rich/project1-2048/blob/main/1.png?raw=true">
            <br><a href="../owners">Meet Our PAL's</a></div>
        <div><img src="https://github.com/l-Rich/project1-2048/blob/main/2.png?raw=true">
            <br><a href="../dogs">Meet Our Dogs</a></div>
    </div>
    

</body>
</html>