h1{
    text-align: center;
    font-size: 'Rammetto One', cursive;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("https://github.com/l-Rich/project1-2048/blob/main/t%20(3).png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px
}
.float-child {
    align-content: center;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: 2px solid white;
    margin: 45px;
    margin-top: 200px;
    padding: 20px;
}



