h1{
    text-align: center;
    font-size: 'Rammetto One', cursive;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("https://github.com/l-Rich/project1-2048/blob/main/t%20(3).png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px
}
.float-child {
    border: 4px solid white;
    padding: 15px;  
    background-color: rgba(255, 255, 255, .3);
    margin-top: 50px;
}
img{
    height: 300px;
    width: 250px;
}
.float-container{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
.buttons{
    text-align:center;
    display: flex;
    padding: 3px;
    justify-content: flex-end;
    width: 1550px;
}
.buttons button{
    color: black;
    background-color: tomato;
}
.buttons button:hover{
    background-color: whitesmoke;
}

