h1{
    text-align: center;
    font-size: 'Rammetto One', cursive;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("https://github.com/l-Rich/project1-2048/blob/main/t%20(3).png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px;
   
}
.dogInfo{
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
.float-child {
    border: 4px solid white;
    padding: 15px;  
    background-color: rgba(255, 255, 255, .3);
    margin-top: 50px;
}
.float-container{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
img{
    display: flex;
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.buttons1{
    text-align:center;
    display: flex;
    padding: 3px;
    justify-content: flex-end;
    width: 1558px;
}
.buttons1 button{
    color: black;
    background-color: tomato;
}
.buttons1 button:hover{
    background-color: whitesmoke;
}
.buttons2{
    text-align:center;
    display: flex;
    padding: 3px;
    justify-content: flex-end;
    width: 1558px;
}
.buttons2 button{
    color: black;
    background-color: tomato;
}
.buttons2 button:hover{
    background-color: whitesmoke;
}
.buttons3{
    text-align:center;
    display: flex;
    padding: 3px;
    justify-content: flex-end;
    width: 1570px;
}
.buttons3 button{
    color: black;
    background-color: tomato;
}
.buttons3 button:hover{
    background-color: whitesmoke;
}
.buttons4{
    text-align:center;
    display: flex;
    padding: 3px;
    justify-content: flex-start;
    width: 1570px;
}
.buttons4 button{
    color: black;
    background-color: tomato;
}
.buttons4 button:hover{
    background-color: whitesmoke;
}