h1{
    text-align: center;
    font-size: 'Rammetto One', cursive;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("https://github.com/l-Rich/project1-2048/blob/main/t%20(3).png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px;
    text-align: center;
}
.buttons1{
    text-align:center;
    display: flex;
    padding: 3px;
    justify-content: flex-end;
    width: 1558px;
}
.buttons1 button{
    color: white;
    background-color: tomato;
}
.buttons1 button:hover{
    background-color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons2{
    text-align:center;
    display: flex;
    padding: 3px;
    justify-content: flex-end;
    width: 1558px;
}
.buttons2 button{
    color: white;
    background-color: tomato;
}
.buttons2 button:hover{
    background-color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons3 button{
    color: white;
    background-color: tomato;
}
.buttons3 button:hover{
    background-color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a{
    color:white;
}