h1{
    text-align: center;
    font-size: 'Rammetto One', cursive;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("https://github.com/l-Rich/project1-2048/blob/main/t%20(3).png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px
}
.float-child {
    align-content: center;
    text-align: center;
    /* grid-template-columns: auto; */
    /* grid-template-rows: */
    border: 4px solid white;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    width: 25%;
}
img{
    height: 300px;
    width: 250px;
}
.float-container{
    /* grid-template-columns: auto;
    grid-template-rows: auto; */
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
}


