h1{
    text-align: center;
    font-size: 'Rammetto One', cursive;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("https://github.com/l-Rich/project1-2048/blob/main/t%20(3).png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px;
    text-align: center;
}
.addButton button{
    background-color: tomato;
}
.addButton button:hover{
    background-color: whitesmoke;
}
.buttons{
    text-align:center;
    display: flex;
    padding: 3px;
    justify-content: flex-end;
    width: 1580px;
}
.buttons button{
    color: black;
    background-color: tomato;
}
.buttons button:hover{
    background-color: whitesmoke;
}