body {
    background-image: url("https://github.com/l-Rich/project1-2048/blob/main/t%20(1).png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #80CE4F;
}

img {
    width: 250px;
    height: 250px
}

.flex-container {
    display: flex;
    justify-content: center;
}

div {
    text-align: center;
    margin: 150px;
}