body {
    background-image: url("https://github.com/paul-uA/Coding-PAL-s/blob/main/pictures/Coding%20PAL's.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #79A022;
}

img {
    max-width: 200px;
    max-height: 200px;
    position: relative;
}