h1 {
    text-align: center;
    font-family: 'Rammetto One', cursive;
}

.navbar{
    font-size:18px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("https://github.com/l-Rich/project1-2048/blob/main/t%20(3).png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px;
}
img{
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px
}

.float-containter{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.float-child{
    border: 3px solid white;
    padding: 15px;
    margin-top: 50px;
    
}

  