<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="views/style.css" rel="stylesheet" type="text/css">
    <title>Coding PAL's Home</title>
</head>
<body>
    <h1>Index</h1>
    <% for (let i=0; i <dog.length; i++) { %> 
        <div> <a href='/dogs/<%=dog[i]._id%>'>
            <%= dog[i].name %>
            </a> 
    <% } %>  
    <br>
    <a href = "/dogs/new">Add Dog</a>
    <!-- Need to connect this button to "add dog" instead of link -->
    <!-- <button type="submit">Add dog</button> -->
</body>
</html>