<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/dogsNew.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rammetto+One&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Add a New Dog!</title>
</head>
<body>
    <h1>Add a New Dog!</h1>
    <form action="/dogs" method="POST">
        <legend>
            <label>
                Dog Name: <br/>
                <input type="text" name="name" required placeholder="(Enter Dog's name)">
                <br> Dog Age: 
                <br><input type="text" name="age" required placeholder="(Enter dog age)">
                <br> Dog breed:
                <br><input type="text" name="breed" required placeholder="(Enter dog breed)">
                <br>
                <br>Dog is fixed:<input name="fixed" type="checkbox"/>
            </label>
            <br/><br/>
        <div class="addButton">
        <button type="submit" style="font-size:24px">Add Dog! <i class="fa fa-paw"></i></button>
        </div>
        </legend>
    </form>
    <br>
    <br>
    <div class="buttons">
        <button style="font-size:24px"><a href = "/dogs">Back to Dog Page</a> <i class="fa fa-paw"></i></button>
        </div>
</body>
</html>