<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Dogs</title>
</head>
<body>

    <h1>Show <%=dog.name%></h1>
    <a href="/dogs/<%=dog.id%>/edit">Edit this dog</a>
    </div>
    <hr />
    <a href="/dogs">Dog Index</a>
    <form action="/dogs/<%=dog._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete this dog</button>
    </form>
    
</body>
</html>