<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding PAL's Home</title>
</head>
<body>
    <h1>Index</h1>
<<<<<<<< HEAD:views/Dogs-files/index.ejs
<% for (let i=0; i <dog.length; i++) { %> 
    <div> <%= dog[i].name %> 
          <a href='/Dogs/<%=dog[i]%>'></a>
========
<% for (let i=0; i <owner.length; i++) { %> 
    <div> <%= owners[i].name %> 
          <a href='/owners/<%=owners[i]._id%>'></a>
>>>>>>>> main:views/Owner-files/index.ejs
<% } %>    
</body>
</html>