<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Owner</title>
</head>
<body>
    <h1>Tell us more about you!</h1>
    <form action="/owners" method="POST">
        <input type="text" name="name" placeholder="Whats your name?">
        <input type="text" name="hobbies" placeholder="What do you like to do?">
        <input type="text" name="tvShows" placeholder="What do you like to watch?">
        <input type="text" name="favoriteDogActivity" placeholder="What does you and your dog do?">
        <input type="submit" value="Create new owner">
    </form>
    
</body>
</html>